body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url(https://preview.redd.it/whats-the-deep-philosophical-reason-he-is-called-the-jonkler-v0-4qx1rz0sz0id1.jpeg?auto=webp&s=27d63e40bac3eec17dd1626df3cbfca26fa6ca2d);
}

.loader {
    border: 8px solid #cfcfcf83; /* Light gray */
    border-top: 8px solid #2b9ce7a9; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}